.about {
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  color: #fff;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.opisAp {
  max-width: 767px;
}
